set editing-mode vi
set keyseq-timeout 1
set bell-style none

set show-mode-in-prompt on
set vi-ins-mode-string "(ins)"
set vi-cmd-mode-string "(\1\e[1;31m\2cmd\1\e[0m\2)"

set blink-matching-paren on
set colored-stats on
set colored-completion-prefix on
set completion-ignore-case on
set echo-control-characters off
set mark-symlinked-directories on

############# KEYMAPS

########
## All Modes
####
"\C-r": re-read-init-file
"\t": menu-complete                 # Use tab to cycle through completions, rather than dumping all options
"\e[1;5C": forward-word             # Ctrl+right
"\e[1;5D": backward-word            # Ctrl+left

########
## Insert Mode
####
set keymap vi-insert
"\C-l": clear-screen

########
## Normal Mode
####
set keymap vi-command
