root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[{**.sh,./*,local/bin/*,**.snippets,.lib/{shell,git-hooks}/*}]
indent_style = tab

[*.{vim,yml}]
indent_size = 2
