.DS_store
vscode/workspaceStorage
TESTER
ranger/colorschemes/__init__.py*
ranger/colorschemes/dsiffordscheme.pyo
ranger/colorschemes/__pycache__
vim/plugged
shell/completions/*
*.pyo
__pycache__

!shell/completions/aliases.sh
