**/.pyre/
**/.mypy_cache
*.pyo
*.spl
.uuid
.DS_store
TESTER
__pycache__
config/ranger/plugins/__init__.py
config/tmux/plugins
config/nvim/_plugins
config/vscode/workspaceStorage
config/vscode/globalStorage
