packages: [
  "advanced-open-file"
  "atom-alignment"
  "atom-beautify"
  "atom-typescript"
  "atom-wallaby"
  "autocomplete-clang"
  "autocomplete-go"
  "autocomplete-paths"
  "autocomplete-python"
  "builder-go"
  "code-peek"
  "docblockr"
  "dracula-theme"
  "editorconfig"
  "emmet"
  "environment"
  "exception-reporting"
  "file-types"
  "gist"
  "go-config"
  "go-get"
  "go-plus"
  "gofmt"
  "gometalinter-linter"
  "gorename"
  "gpp-compiler"
  "highlight-selected"
  "increment-me"
  "language-babel"
  "language-docker"
  "language-jade"
  "language-nginx"
  "linter"
  "linter-clang"
  "linter-docker"
  "linter-eslint"
  "linter-golinter"
  "linter-js-yaml"
  "linter-jsonlint"
  "linter-php"
  "linter-phpmd"
  "linter-shellcheck"
  "linter-stylint"
  "linter-tslint"
  "Lucario"
  "metrics"
  "minimap"
  "minimap-bookmarks"
  "minimap-codeglance"
  "minimap-highlight-selected"
  "minimap-linter"
  "navigator-godef"
  "nerd-treeview"
  "package-sync"
  "pigments"
  "script"
  "set-syntax"
  "seti-ui"
  "sort-lines"
  "Stylus"
  "Sublime-Style-Column-Selection"
  "sync-settings"
  "tester-go"
  "todo-show"
  "tree-view-autoresize"
  "turbo-javascript"
  "vim-mode-plus"
  "vim-mode-plus-move-selected-text"
]
