#================================================
#           BEGIN DESKTOP CONFIG
#================================================

# Display / Screen Config
workspace 2 output DP-4
workspace 1 output HDMI-0
workspace Spotify output HDMI-0

# Startup Scripts
exec --no-startup-id bedroomlights
bindsym XF86Sleep exec --no-startup-id wemo switch Bedroom toggle 

# Floating Terminal
exec --no-startup-id urxvt -name MAINTERM -e bash -c "tmux -q has-session && exec tmux attach-session -d || exec tmux new-session -nMain -sHOME"
for_window [instance="MAINTERM"] border pixel 0, floating enable, move position 2160px 65px, resize set 3844 1000, move scratchpad
bindsym Control+space focus output DP-4, [instance="MAINTERM"] scratchpad show

#===============APP WINDOW CONFIG================

# Atom
workspace Atom output HDMI-0 

# Slack
for_window [class="Slack"] move to workspace 1;

# Spotify
exec --no-startup-id spotify --force-device-scale-factor=2
for_window [class="Spotify"] move to workspace Spotify

# Zeal
for_window [class="Zeal"] floating enable, resize set 2080 2070, move scratchpad
