#================================================
#           BEGIN DESKTOP CONFIG
#================================================

# Display / Screen Config
exec --no-startup-id screenlayout 
workspace 1 output DP-4.8
workspace 2 output DP-2
workspace Spotify output DP-4.8

# Disable mouse warping
mouse_warping none

# Startup Scripts
exec --no-startup-id bedroomlights
bindsym XF86Sleep exec --no-startup-id wemo switch Bedroom toggle
bindsym Control+XF86Sleep exec --no-startup-id hue toggle
bindsym Control+XF86AudioRaiseVolume exec --no-startup-id hue brightness 25
bindsym Control+XF86AudioLowerVolume exec --no-startup-id hue brightness -25

# Floating Terminal
exec --no-startup-id urxvt -name MAINTERM -e bash -c "tmux -q has-session && exec tmux attach-session -d || exec tmux new-session -nMain -sHOME"
for_window [instance="MAINTERM"] border pixel 0, floating enable, move position 2160px 58px, resize set 3850 1000, resize grow up, resize grow right, move scratchpad
bindsym Control+space focus output DP-4, [instance="MAINTERM"] scratchpad show

#===============APP WINDOW CONFIG================

# Remote Messages
exec --no-startup-id google-chrome-beta --app=http://192.168.1.234:333/
for_window [title="Remote Messages"] move scratchpad
bindsym Menu [title="Remote Messages"] scratchpad show

# Simple Screen Recorder
for_window [class="Simplescreenrecorder"] floating enable

# Slack
for_window [class="Slack"] move to workspace 1;

# Spotify
exec --no-startup-id spotify --force-device-scale-factor=2
for_window [class="Spotify"] move to workspace Spotify

# Zeal
for_window [class="Zeal"] floating enable, resize set 2080 2070, move scratchpad

#====================KEYMAP======================

# Ctrl+$mod+Arrow => Move workspace to other monitor
bindsym Control+$mod+Right move workspace to output right
bindsym Control+$mod+Left move workspace to output left

# Ctrl+Printscreen => Open simplescreenrecorder
bindsym Control+Shift+Print exec simplescreenrecorder
