#================================================
#           BEGIN DESKTOP CONFIG
#================================================

# Display / Screen Config
workspace 2 output DP-4
workspace 1 output HDMI-0
workspace Spotify output HDMI-0

# Startup Apps
#exec --no-startup-id ckb-daemon
#exec --no-startup-id ckb --background

# Startup Scripts
exec --no-startup-id bedroomlights

# Floating Terminal
exec --no-startup-id urxvt -name MAINTERM
for_window [title="MAINTERM"] border pixel 0, floating enable, move position 2160px 65px, resize set 3844 1000, move scratchpad
bindsym Control+space focus output DP-4, [title="MAINTERM"] scratchpad show

#===============APP WINDOW CONFIG================

# Atom
workspace Atom output HDMI-0

# Slack
for_window [class="Slack"] move to workspace 1;

# Zeal
for_window [class="Zeal"] floating enable, resize set 1080 1070, move position center, move scratchpad
