
!================================================!
!            Begin Desktop Xresources            !
!================================================!

! Display Settings
Xft.dpi: 180
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! Cursor Size
Xcursor.theme: Adwaita
Xcursor.size: 48

! Font Size
URxvt.font: xft:Hack:pixelsize=45:antialias=true:hinting=true
URxvt.boldFont: xft:Hack:bold:pixelsize=45:antialias=true:hinting=true

! Rofi DPI
rofi.dpi: 180
