scrollbar, scrollbar button, scrollbar slider {
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true;
    background: #f1f1f1;
    min-width: 15px;
    min-height: 15px;
    border: 1px solid transparent;
    border-radius: 0;
}
scrollbar slider {
    background: #c1c1c1;
}
scrollbar slider:hover {
    background: #a1a1a1;
}
