#
# i3 config (desktop)
#

# hue lights mappings
bindsym $<C>XF86AudioPrev exec --no-startup-id $XDG_CONFIG_HOME/redshift/hooks/hue.py period-changed none night
bindsym $<C>XF86AudioPlay exec --no-startup-id $XDG_CONFIG_HOME/redshift/hooks/hue.py toggle
bindsym $<C>XF86AudioNext exec --no-startup-id $XDG_CONFIG_HOME/redshift/hooks/hue.py period-changed none daytime

