# Fix emmett from stubbing comment key
'.platform-darwin atom-pane atom-text-editor:not([mini])':
    'cmd-/': 'editor:toggle-line-comments'

# Stop emmet from hijacking tab from snippets and autocomplete
'atom-text-editor.autocomplete-active:not([mini])':
  'tab': 'autocomplete-plus:confirm'

# Stop emmet from hijacking tab from snippet tab stops
'atom-text-editor[data-grammar="text html basic"]:not([mini]), atom-text-editor[data-grammar~="jade"]:not([mini]), atom-text-editor[data-grammar~="css"]:not([mini]), atom-text-editor[data-grammar~="sass"]:not([mini])':
  'tab': 'snippets:next-tab-stop'

# Stop atom from hijacking ctrl-e from emmet
'.platform-win32 atom-text-editor:not([mini]), .platform-linux atom-text-editor:not([mini])':
  'ctrl-e': 'emmet:expand-abbreviation'

# Close current tab

'atom-text-editor.vim-mode-plus.insert-mode':
    'ctrl-w': 'tabs:close-tab'
    'ctrl-u': 'find-and-replace:select-undo'
    

'atom-workspace atom-text-editor:not([mini])':
    'ctrl-alt-\\': 'typescript:toggle-semantic-view'
    'ctrl-j': 'unset!'

'atom-text-editor[data-grammar="source cpp"]':
    'ctrl-shift-B': 'gpp-compiler:compile'

'atom-text-editor[data-grammar="html basic"]':
    'ctrl-tab ^ctrl (partial)': 'snippets:next-tab-stop'

'atom-text-editor[data-grammar="source gfm"]':
    'ctrl-shift-M': 'markdown-preview-enhanced:toggle'
    'cmd-shift-M': 'markdown-preview-enhanced:toggle'

'atom-text-editor.vim-mode-plus':
    'ctrl-c': 'core:copy'

# Autocomplete movement vim mapping
'body atom-text-editor.autocomplete-active':
    'ctrl-k': 'autocomplete-plus:move-up'
    'cmd-k': 'autocomplete-plus:move-up'
    'ctrl-j': 'autocomplete-plus:move-down'
    'cmd-j': 'autocomplete-plus:move-down'

# GENERAL
'atom-text-editor, atom-text-editor.vim-mode-plus.normal-mode':
    'alt-1': 'bookmarks:jump-to-next-bookmark'
    'alt-2': 'bookmarks:toggle-bookmark'
    'alt-3': 'bookmarks:jump-to-previous-bookmark'
    'ctrl-p': 'fuzzy-finder:toggle-file-finder'
    'cmd-p': 'fuzzy-finder:toggle-file-finder'
    'ctrl-alt-I': 'window:toggle-invisibles'
'atom-text-editor:not([mini])':
    'ctrl-\'': 'expand-selection-to-quotes:toggle'
'atom-text-editor.vim-mode-plus.normal-mode, atom-text-editor.vim-mode-plus.insert-mode':
    'ctrl-o': 'advanced-open-file:toggle'

# Project Plus
'atom-workspace':
    'ctrl-alt-p': 'project-plus:toggle-project-finder'

# Override alt key menu toggle
'.platform-linux':
  'alt': 'abort!'

# Vim bindings for command pallete
'.select-list atom-text-editor[mini]':
    'ctrl-j': 'core:move-down'
    'cmd-j': 'core:move-down'
    'ctrl-k': 'core:move-up'
    'cmd-k': 'core:move-up'





# workspace
'atom-workspace:not([mini])':
    'ctrl-g': 'fuzzy-finder:toggle-git-status-finder'
    'alt-space': 'wallaby:show-command-palette'

# normal
'atom-text-editor.vim-mode-plus.normal-mode':
    'alt-j': 'window:focus-pane-below'
    'alt-k': 'window:focus-pane-above'
    'alt-h': 'window:focus-pane-on-left'
    'alt-l': 'window:focus-pane-on-right'

    'ctrl-w f': 'open-this:split-down'
    'ctrl-w F': 'open-this:split-right'

    'ctrl-g': 'vim-mode-plus:reset-normal-mode'
    'cmd-z': 'vim-mode-plus:toggle-fold'
    'g c': 'vim-mode-plus:select-latest-change'
    'S': 'vim-mode-plus:surround-smart-word'
    'y s': 'vim-mode-plus:surround'
    'm s': 'vim-mode-plus:map-surround'
    'd s': 'vim-mode-plus:delete-surround-any-pair'
    'c s': 'vim-mode-plus:change-surround-any-pair'


# non-insert
'atom-text-editor.vim-mode-plus:not(.insert-mode)':
    'ctrl-w w': 'tabs:close-tab'
    'ctrl-w ctrl-w': 'tabs:close-tab'
    'g C': 'vim-mode-plus:camel-case'

    'ctrl-cmd-k': 'vim-mode-plus:move-up-to-edge'
    'ctrl-cmd-j': 'vim-mode-plus:move-down-to-edge'
    '[': 'vim-mode-plus:move-to-previous-fold-start'
    ']': 'vim-mode-plus:move-to-next-fold-start'
    'ctrl-n': 'vim-mode-plus:move-to-next-fold-start'

    '(': 'vim-mode-plus:move-to-previous-fold-start-with-same-indent'
    ')': 'vim-mode-plus:move-to-next-fold-start-with-same-indent'

# visual, operator-pending
'atom-text-editor.vim-mode-plus.operator-pending-mode, atom-text-editor.vim-mode-plus.visual-mode':
    'g _': 'vim-mode-plus:snake-case'
    ";": 'vim-mode-plus:inner-any-pair-allow-forwarding'
    ":": 'vim-mode-plus:a-any-pair-allow-forwarding'
    "'": 'vim-mode-plus:inner-any-quote',


# visual
'atom-workspace atom-text-editor.vim-mode-plus.visual-mode':
    # Need vim-mode-plus-move-selected-text package
    'ctrl-k': 'vim-mode-plus-user:move-selected-text-up'
    'ctrl-j': 'vim-mode-plus-user:move-selected-text-down'
    'ctrl-h': 'vim-mode-plus-user:move-selected-text-left'
    'ctrl-l': 'vim-mode-plus-user:move-selected-text-right'

    'cmd-K': 'vim-mode-plus-user:duplicate-selected-text-up'
    'cmd-J': 'vim-mode-plus-user:duplicate-selected-text-down'
    'cmd-H': 'vim-mode-plus-user:duplicate-selected-text-left'
    'cmd-L': 'vim-mode-plus-user:duplicate-selected-text-right'

# operator-pending
'atom-text-editor.vim-mode-plus.operator-pending-mode':
    'c': 'vim-mode-plus:inner-word'

# normal, visual
'atom-text-editor.vim-mode-plus.normal-mode, atom-text-editor.vim-mode-plus.visual-mode':
    '_': 'vim-mode-plus:replace-with-register'

# Input
# -------------------------
'atom-text-editor.vim-mode-plus-input':
    'ctrl-g': 'vim-mode-plus:input-cancel'

# Search input
# -------------------------
'atom-text-editor.vim-mode-plus-search:not(.literal-mode)':
    '[': 'vim-mode-plus:search-visit-prev'
    ']': 'vim-mode-plus:search-visit-next'
    ';': 'vim-mode-plus:search-confirm'
    'ctrl-g': 'vim-mode-plus:search-cancel'
