# Temporary
'.html.basic':
    'PV Card iframe':
        'prefix': 'pv'
        'body': """
            <p style="text-align: center;">
                $1
            ${2:\tAdapted from \n}\tSee <a title="PV Cards" href="https://www.aliem.com/pv-cards/" target="_blank">other Paucis Verbis cards</a>.
            </p>$3
                """

# Markdown Snippets
'.source.gfm':
    'italic':
        'prefix': 'i'
        'body': '_$1_$2'
    'bold-italic':
        'prefix': 'bi'
        'body': '***$1***$2'
    'MATHJAX: Degree Symbol':
        'prefix': 'deg'
        'body': '^{\\\\circ}$1'
    'Image: Center Align':
        'prefix': 'imgc'
        'body': """
            <div style="text-align: center;" alt="$1"">${2:
                <p><strong>${1:Image Caption}</strong></p>}
                <img src="$4">
            </div>$5
                """
# TypeScript
'.source.ts, .source.tsx, .source.js, .source.jsx':
    'it (tests)':
        'prefix': 'it'
        'body': """
            it('$1', () => {
                $2
            });
                """
    'describe (tests)':
        'prefix': 'desc'
        'body': """
            describe('${1:description}', () => {
                $2
            });
                """
    'import':
        'prefix': 'im'
        'body': 'import ${2:* as $3} from \'$1\';'

# C++
'.source.cpp':
    'Title Comment':
        'prefix': 'title'
        'body': """
            /**
             * Program Name: ${1:problem_01.cpp}
             * Developer: Derek P Sifford
             * Date: ${2:DD}.${3:MM}.${4:2016}
             * Description: ${5:description}
             */
             """
