snippet html "close and reopen php tags"
?>
$0
<?php
endsnippet

snippet p "<?php single line tags" i
<?php$0?>
endsnippet

snippet pp "<?php multi-line tags"
<?php
$0${1:
?>}
endsnippet

snippet wpdie "wp_die() function"
wp_die( '<pre>' . print_r( $1, true ) . '</pre>' );$0
endsnippet
